body {
    background-color: black;
    color: #43b2bd;
    font-family: monospace;
    font-size: 1.25em;

}

p {
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
    text-indent: 2em;
    font-size: 1.25em;
    line-height: 1.5em;
}

a {
    color: #43b2bd;
}

a:hover {
    color: #38d963
}

.banner {
    display: grid | inline-grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 57em;
    background-image: linear-gradient(
        -90deg,
        #38d963, #43b2bd);
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

.animeart {
    display: grid;
    grid-template-columns: ...  ...;
    grid-template-rows: ...  ...;
    justify-content: center;
    font-family: "MS PGothic", "ＭＳ Ｐゴシック", "Trebuchet MS", Verdana, Futura, Arial, Helvetica, sans-serif;
    /* font-style: monospace; */
    font-size: 1em;
}