@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
			font-family: 'CozetteVector';
			src: url('./fonts/CozetteVector.ttf') format('truetype');
			font-weight: normal;
			font-style: normal;
	}
	h1, h2 {
		@apply font-heading
	}
}